*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
}
body{
    width: 100%;
    min-width: 375px;
    /*background-color:darksalmon;*/
    header{
        padding: 0 10% 0 5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        position: fixed;
        top: 0;
        z-index: 99;
        background-color: #ffffff;
        .logo-name{
            font-size: 2em;
            font-weight: bold;
            color: rgb(255, 178, 35);
        }
        nav{
            display: none;
            flex-direction: row;
            justify-content: space-between;
            width: 50%;
            .nav-link{
                text-decoration: none;
                color: #fff;
                font-size: 1.3em;
                font-weight: bold;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        gap: 30px;
        //accueil
        .introSection{ 
            position: relative;
            width: 100%;
            height: 85vh;
            /*background-image: url(../images/homemade-food.jpg);
            background-size: cover;*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
            color: #fff;
            font-weight: bold;
            position: relative;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
            .intro{
                padding: 5%;
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .big-size_resume{
                    font-size: 1.7em;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 2%;
                    span{
                        color: rgb(255, 178, 35);
                        font-size: 1.3em;
                    }
                }
                .lil-size_resume{
                    font-size: 0.9em;
                }
            }
            .link-abtUs{
                position: absolute;
                bottom: 15%;
                width: 45%;
                max-width: 221px;
                padding: 3%;
                margin-left: 5%;
            }
        }
        @media (min-width: 768px){
            .introSection{
                .intro{
                    .big-size_resume{
                        font-size: 2.1em;
                        span{
                            font-size: 1.6em;
                        }
                    }
                }
                .link-abtUs{
                    width: 25%;
                    padding: 2%;
                }
            }
        }
        @media (min-width: 1024px){
            .intro{
                width: 70%;
            }
        }
        //swipe_carroussel
        .imgSwiperSection{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .carousel{
                white-space: nowrap;
                //display: flex;
                //flex-direction: row;
                width: 100%;
                overflow: hidden;
                cursor: pointer;
                img{
                    object-fit: cover;
                    height: 50vh;
                    width: 100%;
                }
            }
        }
        @media (min-width: 768px){
            .imgSwiperSection{
                .carousel{
                    img{
                        width: 50%;
                        height: 30vh;
                    }
                }
            }
        }
        @media (min-width: 1024px){
            .imgSwiperSection{
                .carousel{
                    img{
                        width: 34%;
                        height: 40vh;
                    }
                }
            }
        }
        //about us
        #about-us{
            padding: 3%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5%;
            .aboutImg{
                width: 100%;
                .cadreImg{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    //background-color: aqua;
                    width: 100%;
                    .bkgrnd{
                        object-fit: cover;
                        width: 100%;
                        border-radius: 15px;
                    }
                    .absolute{
                        width: 20%;
                        position: absolute;
                        top: -5%;
                        right: -2%;
                        background-color: rgb(255, 166, 0);
                        border-radius: 80px;
                        padding: 3%;
                        border: 3px solid #fff;
                        /*transition: 0.3s;
                        &:hover{
                            transform: scale(1.2);
                        }*/
                    }
                }
            }
            .aboutDescription{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                gap: 20px;
                //background-color: aqua;
                .descripTitle{
                    color: rgb(255, 166, 0);
                    font-weight: bold;
                }
                .descriParagraphe{
                    display: flex;
                    flex-direction: column;
                    justify-content : center;
                    align-items: baseline;
                    gap: 10px;
                    .paraTitle{
                        color: rgb(255, 166, 0);
                        font-weight: bold;
                    }
                    .paragraphe{
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
                .link-abtUs{
                    width: 40%;
                    height: 40px;
                }
            }
        }
        @media (min-width: 768px){
            #about-us{
                .aboutImg{
                    width: 100%;
                    .cadreImg{
                        height: 100%;
                        .bkgrnd{
                            height: 100%;
                            width: 90%;
                        }
                        .absolute{
                            width:19%;
                            right: 0;
                            top: -4%;
                        }
                    }
                }
                .aboutDescription{
                    .link-abtUs{
                        margin-top: 1%;
                        height: 40px;
                        width: 25%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        @media (min-width: 1024px){
            #about-us{
                flex-direction: row;
                .aboutImg{
                    .cadreImg{
                        .absolute{
                            width: 24%;
                            right: -3%;
                            top: -4%;
                        }
                    }
                }
                .aboutDescription{
                    .link-abtUs{
                        width: 38%;
                    }
                }
            }
        }
        //trending
        .our-trendingItems{
            padding: 1%;
            width: 100%;
            background-color: rgb(255, 166, 0);
            display: flex;
            flex-direction: column;
            align-items: center;
            .trendingTitle{
                width: 95%;
                text-align: left;
                font-weight: 700;
                font-size: 2em;
                margin-bottom: 15px;
            }
            .trending-items{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                a{
                    width: 29%;
                    position: relative;
                    transition: 0.2s;
                    margin-bottom: 5px;
                    &:hover {
                        transform: scale(1.1);
                    }
                    &:hover .absolutediv{
                        display: flex;
                    } 
                    .item{
                        width: 100%;
                        height: 100px;
                        background-color: rgb(255, 197, 91);
                        border-radius: 70px;
                        border: 3px solid #fff;
                    }
                    .absolutediv{
                        width: 98%;
                        height: 98%;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        background-color: #ffffff7a;
                        position: absolute;
                        top: 0;
                        border-radius: 80px;
                        color: #222;
                    }
                }
                /*.item{
                    width: 10%;
                    height: 85%;
                    background-color: rgb(255, 197, 91);
                    border-radius: 70px;
                    border: 3px solid #fff;
                    transition: 0.2s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }*/
            }
        }
        @media (min-width: 450px){
            .trending-items{
                flex-wrap: nowrap;
                a{
                    .item{
                        width: 100%;
                    }
                }
            }
        }
        @media (min-width: 768px){
            .trending-items{
                flex-wrap: nowrap;
                min-width: 90%;
                a{
                    max-width: 11%;
                    .item{
                        width: 100%;
                    }
                }
            }
        }
        //recipes
        .our-recipes{
            padding: 1%;
            width: 100%;
            .recipesTitle{
                width: 95%;
                text-align: left;
                font-weight: 700;
                font-size: 2em;
                margin-bottom: 25px;
            }
            .recipes{
                width: 100%;
                .recipeBox{
                    margin: auto;
                    width: 80%;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 25px;
                    //gap: 5%;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 15px 15px 0 0;
                    }
                    .recipeContent{
                        width: 100%;
                        padding: 4%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: left;
                        gap: 15px;
                        border-left: 2px solid lightgrey;
                        border-right: 2px solid lightgrey;
                        border-bottom: 2px solid lightgrey;
                        border-radius: 0 0 15px 15px;
                        .link-abtUs{
                            height: 45px;
                            width: 55%;
                        }
                    }
                }
            }
        }
        @media(min-width: 768px){
            .our-recipes{
                display: flex;
                flex-direction: column;
                gap: 25px;
                .recipesTitle{
                    margin-bottom: 0;
                }
                .recipes{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .recipeBox{
                        height: 450px;
                        width: 28%;
                        .recipeContent{
                            .link-abtUs{
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

.link-abtUs{
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 178, 35);
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        transform: scale(1.1);
        background-color: rgb(255, 166, 0);
        border: 1px solid #fff;
    }
}